<!-- bookingupdate.html -->
{% extends 'base.html' %}

{% block head_title %}Update Booking{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4 text-center">Update Booking</h2>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'bookingupdate' pk=booking.pk %}">
            {% csrf_token %}
            <table class="table mx-auto">
                <tbody>
                    <tr>
                        <td class="text-right"><label for="{{ form.date.id_for_label }}">Date:</label></td>
                        <td>{{ form.date }}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><label for="{{ form.time.id_for_label }}">Time:</label></td>
                        <td>{{ form.time }}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><label for="{{ form.group.id_for_label }}">Group Size:</label></td>
                        <td>{{ form.group }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ form.status }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Update Booking</button>
            </div>
        </form>
        {% else %}
        <p class="alert alert-danger text-center">You need to be logged in to update a booking. <a
                href="{% url 'account_login' %}">Login</a>
        </p>
        {% endif %}
        {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}