{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="section" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h3>Our Menu</h3>
                    {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{category}}" id="{{category}}-tab"
                            aria-controls="{{category}}">{{category}}</a>
                    </li>
                    {% endfor %}
                    {% for category in categories %}

                    <div class="tab-pane fade show active" id="{{category}}" tole="tab-panel"
                        aria-labelledby="{{category}}-tab">

                        {% for meal in meal_list %}
                        {% if meal.category == category  %}
                        <div class="menu-for-item">
                            <img class="meal_image" src="{{meal_detail.image.url}}">
                            <h3><a href="{% url 'meals:meal_detail' meal.slug %}">{{meal.name}}</a></h3>
                            <p>{{meal.description}}</p>
                        </div>
                        <div class="price">
                            <strong>£{{meal.price}}</strong>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<script src="static/main.js"></script>
{% endblock %}