{% extends 'base.html' %}
{% load static %}
{% block body %}


    <div class="section" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-heading">
                        <h3>Our Menu</h3>
                        {% for meal in meal_list %}
                        <div class="menu-for-item">
                            <img class="meal_image" src="{{meal_detail.image.url}}">
                            <h3><a href="{% url 'meals:meal_detail' meal.slug %}">{{meal.name}}</a></h3>
                            <p>{{meal.description}}</p>
                        </div>
                        <div class="price">
                            <strong>£{{meal.price}}</strong>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="static/main.js"></script>
{% endblock %}